<div class="row">
	<div class="col-xs-12 text-right">
		<h2> New Environment</h2>
	</div>	
</div>
<hr class="info" />
<div class="row">
	<div class="col-xs-12 col-sm-offset-6 col-sm-6 form-group" ng-class="{'has-error': steps_config.name_error}">
		<input type="text" class="form-control single-line-input-text " ng-model="name" placeholder="Environment Name" >
	</div>
</div>
<div class="row create-steps environment">
	<div class="col-sm-6">
		<h3>Steps</h3>
		<ul class="list-group">

			<!--Step -1-->
		  <!-- <li class="list-group-item" ng-class="{'active': steps_config.current_step == -1, 'done': steps_config.steps_done[-1] && steps_config.current_step != -1}" ng-click="showStep(-1)">1. Choose Type<span ng-if="steps_config.selected_type != 'None'" class="badge">{{steps_config.selected_type}}</span></li>
		  <li class="list-group-item" ng-if="steps_config.current_step == -1">
		  	<div class = "col-md-6">
		  		<a href=""><span ng-click="selectType('Morris Water Maze')" ng-class="{'selected': steps_config.selected_type == 'Morris Water Maze'}"> Morris Water Maze</span></a>
		  	</div>
		  	<div class = "col-md-6">
		  		<a href=""><span ng-click="selectType('Radial Arm Maze')" ng-class="{'selected': steps_config.selected_type == 'Radial Arm Maze'}">Radial Arm Maze</span></a>
		  	</div> 
		  	<br/>
		  	<div class="alert alert-danger" role="alert" ng-if="steps_config.selected_type != 'None' && (steps_config.steps_done[2])">If you change the type of the environment, your cues and platform will be lost</div>
		  	<div class="text-right">
		  		<a href="" ng-click="selectTypeDone()"><small>Next</small></a>
		  	</div>
		  </li> -->


		  <!-- Step 0 -->
		  <li class="list-group-item" ng-class="{'active': steps_config.current_step == 0, 'done': steps_config.steps_done[0] && steps_config.current_step != 0}" ng-click="showStep(0)">1. Choose Shape<span ng-if="steps_config.selected_shape != 'None'" class="badge">{{steps_config.selected_shape}}</span></li>
		  <li class="list-group-item shapes" ng-if="steps_config.current_step == 0">
		  	<span class="glyphicon glyphicon-adjust circle" ng-click="selectShape('circle')" ng-class="{'selected': steps_config.selected_shape == 'circle'}"> </span>
		  	<span class="glyphicon glyphicon-triangle-top" ng-click="selectShape('triangle')" ng-class="{'selected': steps_config.selected_shape == 'triangle'}"></span>
		  	<span class="glyphicon glyphicon-stop" ng-click="selectShape('square')" ng-class="{'selected': steps_config.selected_shape == 'square'}"> </span>
		  	<span class="glyphicon glyphicon-minus" ng-click="selectShape('rectangle')" ng-class="{'selected': steps_config.selected_shape == 'rectangle'}"> </span>
		  	<!-- <span ng-click="selectShape('octagon')" ng-class="{'selected': steps_config.selected_shape == 'octagon'}"><img style ="color:#919191;height:60px;width:60px" src="../images/octagon-xxl.png"/></span> 			Removed this until fully implemented-->
		  	<br/>
		  	<div class="alert alert-danger" role="alert" ng-if="steps_config.selected_shape != 'None' && (steps_config.steps_done[2])">If you change the shape of the environment, your cues and platform will be lost</div>
		  	<div class="text-right">
		  		<a href="" ng-click="selectShapeDone()"><small>Next</small></a>
		  	</div>
		  </li>

		  <!-- Step 1 -->
			  <li class="list-group-item" ng-class="{'active': steps_config.current_step == 1, 'done': steps_config.steps_done[1] && steps_config.current_step != 1}" ng-click="showStep(1)">2. Choose Size<span ng-if="steps_config.selected_size != 'None'" class="badge">{{steps_config.selected_size}}</span></li>
			  <li class="list-group-item text-center" ng-if="steps_config.current_step == 1">
			  	<div class="btn-group pvs" role="group">
				  <button type="button" class="btn btn-default" ng-class="{'btn-default': steps_config.selected_size != 'S', 'btn-success': steps_config.selected_size == 'S'}" ng-click="selectSize('S')">Small</button>
				  <button type="button" class="btn btn-default" ng-class="{'btn-default': steps_config.selected_size != 'M', 'btn-success': steps_config.selected_size == 'M'}" ng-click="selectSize('M')">Medium</button>
				  <button type="button" class="btn btn-default" ng-class="{'btn-default': steps_config.selected_size != 'L', 'btn-success': steps_config.selected_size == 'L'}" ng-click="selectSize('L')">Large</button>
				</div>
			  </li>

		  <!-- Step 2 -->
		  <li class="list-group-item" ng-class="{'active': steps_config.current_step == 2, 'done': steps_config.steps_done[2] && steps_config.current_step != 2}" ng-click="showStep(2)">3. Place Platform<span ng-if="steps_config.steps_done[2]" class="badge glyphicon glyphicon-ok"> </span></li>
		  <li class="list-group-item" ng-if="steps_config.current_step == 2">Click the point in the arena where you want to place the goal platform. It will be 15% of the size of the arena.
		  <div class="text-right" ng-if="arena_config.platform != false">
		  		<a href="" ng-click="placePlatformDone()"><small>Next</small></a>
		  	</div>
		  </li>

		  <!-- Step 3 -->
		  <li class="list-group-item" ng-class="{'active': steps_config.current_step == 3, 'done': steps_config.steps_done[3] && steps_config.current_step != 3}" ng-click="showStep(3)">4. Add Cues<span ng-if="steps_config.steps_done[3]" class="badge">{{arena_config.cues.length}}</span></li>
		  <li class="list-group-item" ng-if="steps_config.current_step == 3">
		  	<div class="text-center cue-size">
		  		<span ng-class="{'selected': steps_config.cue_size == 'S'}" ng-click="setCueSize('S')">small</span>
		  		<span ng-class="{'selected': steps_config.cue_size == 'M'}" ng-click="setCueSize('M')">medium</span>
		  		<span ng-class="{'selected': steps_config.cue_size == 'L'}" ng-click="setCueSize('L')">large</span>
		  	</div>
		  	<div class="cue-types text-center pvs">
		  		<span class="glyphicon glyphicon-flash" ng-class="{'selected': steps_config.cue_type == 'L'}" ng-click="setCueType('L')"> </span>
		  		<span class="glyphicon glyphicon-adjust circle" ng-class="{'selected': steps_config.cue_type == 'C'}" ng-click="setCueType('C')"> </span>
		  		<span class="glyphicon glyphicon-triangle-top" ng-class="{'selected': steps_config.cue_type == 'T'}" ng-click="setCueType('T')"> </span>
		  		<span class="glyphicon glyphicon-stop" ng-class="{'selected': steps_config.cue_type == 'S'}" ng-click="setCueType('S')"> </span>
		  		<span class="glyphicon glyphicon-minus" ng-class="{'selected': steps_config.cue_type == 'R'}" ng-click="setCueType('R')"> </span>
		  	</div>
		  	<div class="intensity" ng-if="steps_config.cue_type == 'L'">
		  		<div class="control"  style="width: 8%;" ng-click="adjustIntensity(-1)"><span class="glyphicon glyphicon-minus"> </span></div>
		  		<div  style="width: 80%;">
			  		<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="{{steps_config.intensity}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: steps_config.intensity + '%'}">{{steps_config.intensity}}%
					  </div>
					</div>
				</div>
				<div class="control text-right"  style="width: 8%;" ng-click="adjustIntensity(1)"><span class="glyphicon glyphicon-plus"> </span></div>
		  	</div>
		  	<div ng-if="steps_config.cue_type != 'L'">
			  	<div class="col-md-3 col-sm-3 col-lg-3">
			  		<img src="images/yellow.png" ng-click="setCueColour('yellow')" ng-class="{selected2: steps_config.cue_colour == 'yellow'}" style="max-height:30px;max-width:50px;border: 2px solid grey;margin: 10px">
			  	</div>
			  	<div class="col-md-3 col-sm-3 col-lg-3">
			  		<img src="images/green.jpg" ng-click="setCueColour('green')" ng-class="{selected2: steps_config.cue_colour == 'green'}" style="max-height:30px;max-width:50px;border: 2px solid grey;margin: 10px">
			  	</div>
			  	<div class="col-md-3 col-sm-3 col-lg-3">
			  		<img src="images/red.jpg" ng-click="setCueColour('red')" ng-class="{selected2: steps_config.cue_colour == 'red'}" style="max-height:30px;max-width:50px;border: 2px solid grey;margin: 10px">
			  	</div>
			  	<div class="col-md-3 col-sm-3 col-lg-3">
			  		<img src="images/blue.jpg" ng-click="setCueColour('blue')" ng-class="{selected2: steps_config.cue_colour == 'blue'}" style="max-height:30px;max-width:50px;border: 2px solid grey;margin: 10px">
			  	</div><br><br><br>
			 </div>
		  	<div class="text-center">
		  		<small><small>Click the border of the arena to add a cue</small></small>
		  	</div>
		  	<div class="text-right">
		  		<a href="" ng-click="addCuesDone()"><small><small>Next</small></small></a>
		  	</div>
		  </li>

		  <!-- Step 4 -->
		  <!-- <li class="list-group-item" ng-class="{'active': steps_config.current_step == 4}" ng-click="showStep(5)">5. Configure Cues</li>
		  <li class="list-group-item" ng-if="steps_config.current_step == 4">
			  <div>
			  	<div class="col-md-3 col-sm-6 col-lg-3"><a href="" ng-click="setCueColour($index, 'green')"><img src="images/green.jpg" style="max-height:30px;max-width:50px;border: 2px solid grey"></a></div>
			  	<div class="col-md-3 col-sm-6 col-lg-3"><a href="" ng-click="setCueColour($index, 'red')"><img src="images/red.jpg" style="max-height:30px;max-width:50px;border: 2px solid grey""></a></div>
			  	<div class="col-md-3 col-sm-6 col-lg-3"><a href="" ng-click="setCueColour($index, 'blue')"><img src="images/blue.jpg" style="max-height:30px;max-width:50px;border: 2px solid grey""></a></div>
			  	<div class="col-md-3 col-sm-6 col-lg-3"><a href="" ng-click="setCueColour($index, 'yellow')"><img src="images/yellow.png" style="max-height:30px;max-width:50px;border: 2px solid grey""></a></div>
			  </div>
			  <div class="text-center">
			  	<a href="" ng-click="addCuesDone()"><small><small>Next</small></small></a>
			  </div>

		  </li>
 -->

		  <!-- Step 5 -->
		  <li class="list-group-item" ng-class="{'active': steps_config.current_step == 4}" ng-click="showStep(4)">5. Finish</li>
		  <li class="list-group-item" ng-if="steps_config.current_step == 4">Click here to save your new environment when you are done: 
			  <div class="alert alert-danger mts text-center" role="alert" ng-if="steps_config.name_error"><small>Please add a name for the new environment</small></div>
			   	<div class="alert alert-danger mts text-center" role="alert" ng-if="steps_config.save_error"><small>There was an error saving the environment. Please try again!</small></div>
			  <div class="text-center">
			  	<button type="button" class="btn btn-info" ng-click="saveEnvironment()">Save</button>
			  </div>
		  </li>
		</ul>
	</div>
	<div class="col-sm-6 pdsm">
		<div>
			<angular-canvas-helper data-canvas-size="300" />
		</div>
		<div ng-if="steps_config.current_step >= 3 && arena_config.cues.length > 0">
		<div class="env-create-list">
			<h4>Cues</h4>
			<div class="table-responsive">
			  <table class="table table-striped">
			    <thead>
			    	<tr>
			    		<th>#</th>
			    		<th>Size</th>
			    		<th>Type</th>
			    		<th>Remove</th>
			    		<th>Color</th>
			    	</tr>
			    </thead>
			    <tbody>
			    <tr ng-repeat="cue in arena_config.cues track by $index" ng-class="{'success': $index === arena_config.highlight_cue}">
			    	<td>{{$index + 1}}</td>
			    	<td>{{cue.size}}</td>
			    	<td ng-if="cue.type == 'L'"><span class="glyphicon glyphicon-flash"></span> - {{cue.intensity}}%</td>
			    	<td ng-if="cue.type == 'C'"><span class="glyphicon glyphicon-adjust circle" style="background-color: #333;"> </span></td>
			    	<td ng-if="cue.type == 'T'"><span class="glyphicon glyphicon-triangle-top"> </span></td>
			    	<td ng-if="cue.type == 'S'"><span class="glyphicon glyphicon-stop"> </span></td>
			    	<td ng-if="cue.type == 'R'"><span class="glyphicon glyphicon-minus"> </span></td>
			    	<td><a href="" ng-click="viewCue($index)">View</a> - <a href="" ng-click="removeCue($index)">Remove</a></td>
			    	<td ng-if="cue.type == 'L'"><img src="images/white.png" style="max-height:30px;max-width:50px;border: 2px solid grey"></td>
			    	<td ng-if="cue.colour == 'green' && cue.type != 'L'"><img src="images/green.jpg" style="max-height:30px;max-width:50px;border: 2px solid grey"></td>
			    	<td ng-if="cue.colour == 'red' && cue.type != 'L'"><img src="images/red.jpg" style="max-height:30px;max-width:50px;border: 2px solid grey""></td>
			    	<td ng-if="cue.colour == 'blue' && cue.type != 'L'"><img src="images/blue.jpg" style="max-height:30px;max-width:50px;border: 2px solid grey""></td>
			    	<td ng-if="cue.colour == 'yellow' && cue.type != 'L'"><img src="images/yellow.png" style="max-height:30px;max-width:50px;border: 2px solid grey""></td>
			    <tr/>
			    </tbody>
			   </table>
			</div>
		</div>
	</div>
</div>
