<div class="row">
	<div class="col-xs-12 col-sm-6">
		<input type="text" class="form-control single-line-input-text" ng-model="search" placeholder="Search" >
	</div>
	<div class="col-xs-12 col-sm-6 text-right">
		<h2>Environments</h2>
	</div>	
</div>
<hr/>
<div class="row">
	<div class="col-xs-12">
		<div class="table-responsive">
		  <table class="table table-striped">
		    <thead>
		    	<tr>
		    		<th>NAME</th>
		    		<th>ARENA</th>
		    		<th>CUES</th>
		    		<th>DETAILS</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	<tr ng-repeat="env in environmentsList | filter:search">
		    		<td>{{env.name}}</td>
		    		<td>{{getType(env.arena_type)}} - {{sizes[env.size]}}</td>
		    		<td>{{env.cues.length}}</td>
		    		<td><a href="#/environments/{{env._id}}">View</a></td>
		    	</tr>
		    </tbody>
		  </table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-right">
		<a class="btn btn-primary" href="#/environments/create" role="button">Create Environment</a>
	</div>
</div>