<div class="jumbotron">
  <h1>NavWell</h1>
  <p class="lead">
    Administrator Console.
  </p>
</div>

<div class="row marketing">
  <h4>Participants</h4>
  <p>
    Go to the participants section in order to view the current participants, add a new one and check experiment results. 
  </p>

  <h4>Experiments</h4>
  <p>
    Design experiments, choose the environment, the number of trials and the retention phases. 
  </p>

  <h4>Environments</h4>
  <p>Define a new environment or check the old ones, choose arena types, add cues, set the goal, etc.</p>
</div>
